@model CoreProject.Data.Models.Category
@{
    ViewData["Title"] = "CategoryAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CategoryAdd</h1>

@using (Html.BeginForm("CategoryAdd", "Category", FormMethod.Post))
{
    @Html.LabelFor(i=>i.CategoryName)
    @Html.TextBoxFor(i=>i.CategoryName, new{@class = "form-control"})
    @Html.ValidationMessageFor(i=>i.CategoryName,"" ,new {@style ="color:red"})
    <br />
    <br />
    @Html.LabelFor(i=>i.CategoryDescription)
    @Html.TextBoxFor(i=>i.CategoryDescription, new{@class = "form-control"})
    <br />
    <br />
    <button class="btn btn-primary">SAVE</button>

}

